---
layout: default
---
<head><link href="/assets/css/lightbox.css" rel="stylesheet" /></head>
<body>
<html>

<header class="post-header">
  <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
      {% if page.description %}<p class="post-description">{{ page.description }}</p>{% endif %}
</header>

<div class="projects">
  <h2 class="category"> Comics </h2>
</div>

<div>
  <p> If you want a full copy of any of the comics displayed below, printed or pdf, contact me a jone3247@umn.edu </p>
</div>

<div class="container px-4 text-center">
  <div class="row form-group">
     <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/IMG_9065.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-3">
      <img src="/assets/img/portfolio/IMG_9065.jpg" class="img-fluid rounded">
    </a>    
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/IMG_9066.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-3">
      <img src="/assets/img/portfolio/IMG_9066.jpg" class="img-fluid rounded">
    </a>
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/IMG_9067.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-3">
      <img src="/assets/img/portfolio/IMG_9067.jpg" class="img-fluid rounded">
    </a>
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/IMG_9069.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-3">
      <img src="/assets/img/portfolio/IMG_9069.jpg" class="img-fluid rounded">
    </a>
  </div>
</div>

<div class="projects">
  <h2 class="category"> Paintings </h2>
</div>

<!-- Forestry work -->
<div class="container px-4 text-center">
  <div class="row g-5">
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/IMG_8933.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-12">
      <img src="/assets/img/portfolio/IMG_8933.jpg" class="img-fluid rounded">
    </a>
  </div>
</div>

<div class="projects">
  <h2 class="category"> Sketchbook </h2>
</div>

<!-- figure painting, bunny comic, birds in car, poirot -->
<div class="container px-4 text-center">
  <div class="row form-group">
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/IMG_8472.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-8">
      <img src="/assets/img/portfolio/IMG_8472.jpg" class="img-fluid rounded">
    </a>
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/IMG_8477.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-4">
      <img src="/assets/img/portfolio/IMG_8477.jpg" class="img-fluid rounded">
    </a>
  </div>
  <div class="row form-group">
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/IMG_9121.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-5">
      <img src="/assets/img/portfolio/IMG_9121.jpg" class="img-fluid rounded">
    </a>
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/72997100788__88D66FCE-1D89-4062-9572-7B8EBEF81354.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-7">
      <img src="/assets/img/portfolio/72997100788__88D66FCE-1D89-4062-9572-7B8EBEF81354.jpg" class="img-fluid rounded">
    </a>
  </div>
  <div class="row form-group">
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/IMG_9143.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-4">
      <img src="/assets/img/portfolio/IMG_9143.jpg" class="img-fluid rounded">
    </a>
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/IMG_9144.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-4">
      <img src="/assets/img/portfolio/IMG_9144.jpg" class="img-fluid rounded">
    </a>
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/IMG_9145.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-4">
      <img src="/assets/img/portfolio/IMG_9145.jpg" class="img-fluid rounded">
    </a>
  </div>
  <div class="row form-group">
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/IMG_9147.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-4">
      <img src="/assets/img/portfolio/IMG_9147.jpg" class="img-fluid rounded">
    </a>
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/IMG_9148.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-4">
      <img src="/assets/img/portfolio/IMG_9148.jpg" class="img-fluid rounded">
    </a>
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/IMG_9151.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-4">
      <img src="/assets/img/portfolio/IMG_9151.jpg" class="img-fluid rounded">
    </a>
  </div>
</div>

<div class="projects">
  <h2 class="category"> Character Design </h2>
</div>

<!-- hellboy, mushroom face variations -->
<div class="container px-4 text-center">
  <div class="row g-5">
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/Style_Swap.png" data-toggle="lightbox" data-gallery="gallery" class="col-6">
      <img src="/assets/img/portfolio/Style_Swap.png" class="img-fluid rounded">
    </a>
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/Untitled_Artwork.png" data-toggle="lightbox" data-gallery="gallery" class="col-6">
      <img src="/assets/img/portfolio/Untitled_Artwork.png" class="img-fluid rounded">
    </a>
  </div>
</div>

<script src="/assets/js/lightbox-plus-jquery.js"></script>
</body>
</html>

