---
layout: default
---

<h2 class="category">{{ Sketchbook }}</h2>

<div class="container">
  <div class="row">
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/IMG_8472.jpg" data-toggle="lightbox" data-gallery="gallery" class="g-col-8 col-md-4">
      <img src="/assets/img/portfolio/IMG_8472.jpg" class="img-fluid rounded">
    </a>
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/IMG_8477.jpg" data-toggle="lightbox" data-gallery="gallery" class="g-col-4 col-md-4">
      <img src="/assets/img/portfolio/IMG_8477.jpg" class="img-fluid rounded">
    </a>
  </div>

<h2 class="category">{{ Character Design }}</h2>

  <div class="container">
  <div class="row">
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/Style_Swap.png" data-toggle="lightbox" data-gallery="gallery" class="g-col-6 col-md-4">
      <img src="/assets/img/portfolio/Style_Swap.png" class="img-fluid rounded">
    </a>
    <a href="https://github.com/mwdjones/mwdjones.github.io/blob/master/assets/img/portfolio/Untitled_Artwork.png" data-toggle="lightbox" data-gallery="gallery" class="g-col-6 col-md-4">
      <img src="/assets/img/portfolio/Untitled_Artwork.png" class="img-fluid rounded">
    </a>
  </div>
