---
layout: default
---
<html>
<head>
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" href="assets/img/portfolio/IMG_8472.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
    <img src="img_5terre.jpg" alt="Cinque Terre" width="800" height="400" class="img-fluid rounded">
  </a>
  <div class="desc">Figure studies in gouache</div>
</div>

<div class="gallery">
  <a target="_blank" href="assets/img/portfolio/IMG_8477.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
    <img src="img_forest.jpg" alt="Forest" width="400" height="400" class="img-fluid rounded">
  </a>
  <div class="desc">Single page comics in gouache</div>
</div>

<div class="gallery">
  <a target="_blank" href="assets/img/portfolio/IMG_8478.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
    <img src="img_lights.jpg" alt="Northern Lights" width="300" height="400" class="img-fluid rounded">
  </a>
  <div class="desc">Studies for forestry science painting</div>
</div>

</body>
</html>
